* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Page load */

.page-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 9999;
}
/* Podcast Display Card */

.pod-card {
  max-width: 250px;
}

.episode-actions {
  display: flex;
  gap: 10px;
  padding: 0px 10px 10px 0px;
}

/* Hero Carousel */

.hero-carousel {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.hero-card {
  position: fixed;
  flex: 0 0 auto;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin-right: 10px;
  scroll-snap-align: start;
}

/* Media Player Overlay */

.media-player {
  position: fixed;
  bottom: 10px;
  left: 50%;
  translate: -50%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-media-player {
  position: absolute;
  top: 5px;
  right: 10px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Log in overlay */

.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.login-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  background: none;
  border: none;
  font-size: 0.5rem;
  cursor: pointer;
}

/* Filters */

.filters-container {
  display: flex;
  padding: 0px 20px 20px 20px;
  justify-content: space-between;
}

.filters-search {
  gap: 20px;
  padding: 5px;
  width: 10rem;
}

.genre-select {
  height: 2rem;
  max-width: 10rem;
  padding: 5px;
}

.sorting-select {
  padding: 5px;
  height: 2rem;
  max-width: 10rem;
}

@media (max-width: 500px) {
  .filters-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Main Content */
.main-content {
  padding: 20px;
}

.grid-container {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.grid-item {
  display: flex;
  justify-content: center;
}

/* Profile modal */

.avatar-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

/* Favourites Page */

.page-title {
  padding: 10px 0px 10px 20px;
}

.favourites-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.favourites-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  max-height: 15rem;
}

.favourites-buttons {
  display: flex;
  gap: 10px;
  padding: 0px 10px 10px 0px;
}
/* Footer */

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  height: 5rem;
  padding: 20px;
}
